<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}:3 Wiki
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{{asset('Images/bird.jpeg')}}">
		{% block stylesheets %}
		{% endblock %}

		{% block javascripts %}{% endblock %}
	</head>
	<header>
		<img src="{{asset('Images/logo.jpg')}}" alt="">
		<a href="home">Home</a>
		<a href="car-list">Cars</a>
		<a href="map">Map</a>
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<a href="logout">Disconnect</a>
		{% else %}
		<a href="login">Login</a>
		<a href="register">Register</a>
		{% endif %}
	</header>
	<body>
		{% block content %}{% endblock %}
	</body>
</html>
