{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link href="{{ asset('css/map.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
	<div>
		<form method="post">
			<label for="LoginUsername">Username</label><br>
			<input type="text" name="LoginUsername" id="LoginUsername" placeholder="username"><br>
			<label for="password">Password</label><br>
			<input type="password" name="LoginPassword" id="LoginPassword" placeholder="password"><br>
			<input type="submit" name="LoginSend" id="LoginSend">
		</form>
	</div>
{% endblock %}
