{% extends 'base.html.twig' %}

{% block content %}
    <div>
	    <img src="{{asset('Images/map.png')}}" alt="" id="carImage" style="width: 90vw">
        <div>
            <h4>Markers</h4>
            <ul>
            <li>Jackspots</li>
            <li>Races</li>
            <li>Billboards</li>
            <li>Security Gates</li>
            <li>Radars</li>
            <li></li>
            </ul>
        </div>
    </div>
{% endblock %}